@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
:root {
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secundary-color: #F05454;
    }
    :root {
        --bg-color: #222831;
        --primary-color: #DDDDDD;
        --secundary-color: #F05454;
        --font:  font-family: 'Inconsolata';
    }
    body {
        background-color: var(--bg-color);
        }